.CovidDataDiv{
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

/* .CoronaTitleDiv{
    background-color: aqua;
    float: left;
}

.CoronaTitleDiv>*{
    background-color: aqua;
    float: left;
} */